<div class="flex flex-col min-h-screen bg-base-100 py-10 px-3 md:p-10">
  <div class="flex flex-col flex-1 bg-primary rounded-lg text-secondary px-2 py-10 md:p-10">

    <div class="flex flex-col justify-center items-center">
      <h2 class="text-lg md:text-3xl font-bold pb-5"><%= session[:challenge_mode][:current_question] %> / <%= session[:challenge_mode][:question_count] %>問目</h2>
      <p class="text-sm md:text-base"><span class="text-base md:text-lg font-bold"><%= @locations[0].name %></span>から<span class="text-base md:text-lg font-bold"><%= @locations[1].name %></span>までの距離は何kmあるでしょう？</p>
    </div>

    <div class="flex flex-row justify-center py-5 md:px-10 py-5">
      <div id="choices">
        <%= form_with url: answer_challenge_mode_quizzes_path, method: :get, local: true do %>
          <% @choices.each do |choice| %>
            <button type="submit" name="selected_choice" value="<%= choice %>" class="btn text-secondary text-sm md:text-base font-bold bg-base-100 md:m-3">
              約<%= choice %>km
            </button>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="flex justify-center flex-1">
      <div class="flex bg-primary rounded-lg text-secondary w-full">
        <div class="flex flex-col m-3 p-3 bg-white w-full h-full">
          <p class="text-base font-bold mb-2">ルート</p>
          <div id="map" class="flex-1 w-full" style="height: 400px width: auto;"></div>
        </div>
      </div>
    </div>

  </div>
</div>
