<div class="flex flex-col min-h-screen bg-base-100 py-10 px-3 md:p-10">
  <div class="flex flex-col flex-1 bg-primary rounded-lg text-secondary px-2 py-10 md:p-10">

      <div class="flex flex-col justify-center items-center md:px-10">
        <h2 class="text-2xl md:text-4xl font-bold py-5 md:py-20"><%= @correct_answers %> / <%= @question_count %>問正解！</h2>

        <% if @rank_in_top_20 %>
          <p class="text-base md:text-xl font-bold text-center text-red-500 my-5 md:mt-5 md:mb-10">20位以内にランクインしました🎉</p>
        <% end %>

        <div class="flex flex-col md:flex-row justify-center items-center md:space-x-20 my-5 md:mx-10">
          <% if @rank_in_top_20 %>
            <%= link_to "https://twitter.com/share?url=https://sence-of-distance.com/challenge_mode/ranking&text=#{@question_count}問中#{@correct_answers}問正解で上位にランクインしました！%0a", target: '_blank', class: 'btn btn-neutral bg-base-100 text-secondary text-sm md:text-base' do %>
              <i class="fa-brands fa-square-x-twitter fa-2xl" style='color: #000000;'></i> 結果をシェアする
            <% end %>
          <% else %>
            <%= link_to "https://twitter.com/share?url=https://sence-of-distance.com/challenge_mode/ranking&text=#{@question_count}問中#{@correct_answers}問正解しました！%0a", target: '_blank', class: 'btn btn-neutral bg-base-100 text-secondary text-sm md:text-base' do %>
              <i class="fa-brands fa-square-x-twitter fa-2xl" style='color: #000000;'></i> 結果をシェアする
            <% end %>
          <% end %>
          <%= link_to 'マイページで解答履歴を見る', mypage_path, class: 'btn btn-neutral bg-base-100 text-secondary text-sm md:text-base my-5 md:mx-10'%>
        </div>



        <div class="flex flex-col w-full md:p-10">
          <h1 class="text-2xl md:text-3xl text-center font-bold mb-3">ランキングTOP20</h1>

          <table class="table-auto w-full border-collapse border border-gray-200">
            <thead>
              <tr class="bg-accent text-sm md:text-lg">
                <th class="border border-gray-300 py-2">順位</th>
                <th class="border border-gray-300 py-2">ユーザー名</th>
                <th class="border border-gray-300 py-2">正答数</th>
              </tr>
            </thead>
            <tbody>
              <% @rankings.each_with_index do |result, index| %>
                <tr class="<%= result.id == @current_challenge.id ? 'bg-info' : 'bg-base-100' %>">
                  <td class="border border-gray-300 px-4 py-1 text-center text-sm md:text-base"><%= index + 1 %></td>
                  <td class="border border-gray-300 px-4 py-1 text-sm md:text-base"><%= result.user.name %></td>
                  <td class="border border-gray-300 px-4 py-1 text-center text-sm md:text-base"><%= result.correct_answers %> / <%= result.total_questions %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="flex flex-col justify-center md:space-x30 px-10 mx-8">
          <%= link_to 'もう1回挑戦する', start_challenge_mode_quizzes_path, class: 'btn text-base-100 text-sm md:text-base font-bold bg-secondary mt-10 mb-5 md:m-10' %>
          <%= link_to 'トップページへ戻る', root_path, class: 'btn text-secondary font-bold bg-base-100 text-sm md:text-base md:mx-20 mt-5 md:mt-10 mb-10 md:mb-20' %>
        </div>
      </div>

  </div>
</div>
