<div class="flex flex-col min-h-screen bg-base-100">
  <div class="p-10 bg-base-100 rounded-lg text-secondary">
    <h2 class="text-2xl text-text-color mb-8"><%= t('.title')%></h2>

    <table class="table">
      <tr>
        <th scope="row"><%= User.human_attribute_name(:email) %> </th>
        <td><%= current_user.email %></td>
      </tr>
      <tr>
        <th scope="row"><%= User.human_attribute_name(:name) %></th>
        <td><%= current_user.name %></td>
      </tr>
    </table>

    <div class="flex justify-center py-10">
      <button class="btn btn-primary text-secondary m-5">
        <%= link_to "編集", edit_mypage_path %>
      </button>
    </div>

  </div>
</div>
