<div class="flex flex-col min-h-screen bg-base-100">
  <div class="p-10 bg-base-100">
    <!-- 問題文 背景みどり -->
    <div class="bg-primary rounded-lg text-secondary">
      <div class="flex flex-row p-10">
        <p class="text-base"><span class="text-lg font-bold"><%= @locations[0].name %></span>から<span class="text-lg font-bold"><%= @locations[1].name %></span>までの距離は何kmあるでしょう？</p>
      </div>
    </div>
    <br>

    <!-- 解答選択部分 背景みどり -->
    <div class="bg-primary rounded-lg">
      <div class="flex flex-row justify-center p-5 m-8">
        <div id="choices">
          <%= form_with url: answer_simple_mode_quizzes_path, method: :get, local: true do %>
            <% @choices.each do |choice| %>
              <button type="submit" name="selected_choice" value="<%= choice %>" class="btn text-secondary font-bold bg-base-100 m-3">
                約<%= choice %>km
              </button>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
