<div class="flex flex-col h-screen bg-base-100 p-10">
  <div class="bg-primary rounded-lg text-secondary flex-1 flex flex-col">
    <div class="flex flex-col p-10 flex-1">

      <h2 class="text-5xl font-semibold text-center mb-5"><%= @result %></h2>

      <div class="bg-primary rounded-lg text-secondary mb-1">
        <div class="flex flex-row px-10 pt-5">
          <p class="text-base"><span class="text-lg font-bold"><%= @locations[0].name %></span>から<span class="text-lg font-bold"><%= @locations[1].name %></span>までの距離は<span class="text-lg font-bold">約<%= @correct_answer %> km</span>です。</p>
        </div>
      </div>

      <!-- Google Maps API を読み込む -->
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= "#{ENV['MAPS_JAVASCRIPT_API']}" %>&language=ja&callback=initMap" async defer></script>

      <div class="flex justify-center flex-1">
        <div class="flex bg-primary rounded-lg text-secondary w-full">
          <div class="flex flex-col m-3 p-3 bg-white w-full h-full">
            <p class="text-base font-bold mb-2">ルート</p>
            <div id="map" class="flex-1 w-full" style="height: 100%; width: 100%;"></div>
          </div>
        </div>
      </div>

      <!-- 外部ファイルからJavaScriptを読み込み -->
      <%= javascript_include_tag 'map.js' %>

      <div class="flex flex-row justify-center px-10">
        <%= link_to 'もう1回やってみる', new_simple_mode_quiz_path, class: 'btn text-base-100 font-bold bg-secondary mt-10' %>
      </div>

    </div>
  </div>
</div>
