<div class="flex flex-col min-h-screen bg-base-100 py-10 px-3 md:p-10">
  <div class="flex flex-col flex-1 bg-primary rounded-lg text-secondary px-2 py-10 md:p-10">

      <h2 class="text-3xl md:text-4xl font-semibold text-center mb-5"><%= @result %></h2>

      <div class="bg-primary rounded-lg text-secondary md:mb-1">
        <div class="flex flex-row justify-center items-center py-5 md:px-10 pt-5">
          <p class="text-sm md:text-base"><span class="text-base md:text-lg font-bold"><%= @locations[0].name %></span>
                                                                                      から
                                                                                      <span class="text-base md:text-lg font-bold"><%= @locations[1].name %></span>
                                                                                      までの距離は
                                                                                      <span class="text-base md:text-lg font-bold">約<%= @correct_answer %> km</span>です。</p>
        </div>
      </div>

      <div class="flex justify-center flex-1">
        <div class="flex bg-primary rounded-lg text-secondary w-full">
          <div class="flex flex-col m-3 p-3 bg-white w-full h-full">
            <p class="text-base font-bold mb-2">ルート</p>
            <div id="map" class="flex-1 w-full" style="height: 400px width: auto;"></div>
          </div>
        </div>
      </div>

      <div class="flex flex-row justify-center px-10">
        <%= link_to 'もう1回挑戦する', new_simple_mode_quiz_path, class: 'btn text-base-100 text-sm md:text-base font-bold bg-secondary mt-10' %>
      </div>

  </div>
</div>
