<div class="flex flex-col justify-stretch p-10">
  <div class="p-10 bg-base-100 rounded-lg text-secondary">
    <h2 class="text-2xl text-text-color mb-8">各地点入力画面</h2>

    <div class="m-5">
      <%= form_with model: @routes do |f| %>
        <div class="m-5">
          ① 旅行先等の出発地点（駅や宿泊先のホテル）と到着地点（観光地など）を入力する
        </div>

        <div class="px-5">
          <div class="bg-primary rounded-lg text-secondary">
            <div class="flex flex-row mb-3 p-5">
              <%= f.label :"/", "出発地点", class: "flexform-label m-5"%>
              <%= f.text_field :"/", class: "form-control m-3", placeholder: "札幌" %>
            </div>
            <div class="flex flex-row mb-3 p-5">
              <%= f.label :"/", "到着地点", class: "flexform-label m-5"%>
              <%= f.text_field :"/", class: "form-control m-3", placeholder: "函館" %>
            </div>
          </div>
        </div>
        <br>

        <div class="m-5">
          ② 自宅等の馴染みのある地点を出発地点として入力する
        </div>

        <div class="px-5">
          <div class="bg-primary rounded-lg text-secondary">
            <div class="flex flex-row mx-3 p-3">
              <%= f.label :"/", "出発地点", class: "flexform-label m-5"%>
              <%= f.text_field :"/", class: "form-control m-3", placeholder: "自宅" %>
            </div>
          </div>
          <br><br>

          <%= f.submit "距離を比較する！", class: "btn btn-primary text-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
