<div class="flex flex-col min-h-screen bg-base-100 py-10 px-3 md:p-10">
  <div class="flex flex-col flex-1 bg-primary rounded-lg text-secondary px-2 py-10 md:p-10">

    <div class="flex flex-col justify-center items-center md:m-10">

      <%= form_with url: login_path do |f| %>
      <h2 class="text-xl md:text-3xl font-bold mb-10 md:mb-14"><%= t('.title') %></h2>

      <div class="flex flex-col my-5 md:my-10 w-[300px] md:w-[400px]">
        <%= f.label :email, class: "form-label text-sm md:text-base mb-2" %>
        <%= f.email_field :email, class: "form-control w-full" %>
      </div>
      <div class="flex flex-col my-5 md:my-10 w-[300px] md:w-[400px]">
        <%= f.label :password, class: "form-label text-sm md:text-base mb-2" %>
        <%= f.password_field :password, class: "form-control w-full" %>
      </div>
      <div class="flex justify-center items-center mt-12 md:mt-20 w-full">
        <%= f.submit t('user_sessions.new.login'), class: "btn btn-neutral bg-base-100 text-secondary text-sm md:text-base w-[100px] md:w-[200px]" %>
      </div>
      <% end %>

      <!-- 区切り線-->
      <div class="inline-flex items-center justify-center w-full p-2 md:p-7">
        <hr class="w-64 h-px my-8 bg-secondary border-0">
        <span class="absolute px-3 font-medium text-secondary -translate-x-1/2 text-sm md:text-base bg-primary left-1/2">or</span>
      </div>

      <!-- googleログイン-->
      <%= link_to auth_at_provider_path(provider: :google), data: { turbo: false } do %>
        <%= image_tag "sign_in_with_google.png", class: "w-[200px] md:w-[3/5] mx-auto" %>
      <% end %>

      <div class="grid gap-2 md:gap-4 nav-links md:flex md:justify-center pt-5 md:pt-10">
        <%= link_to '新規登録はこちら', new_user_path, class: "text-secondary hover:text-base-100 border border-primary hover:bg-secondary focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm md:text-base px-5 py-2.5 text-center me-2" %>
      </div>

    </div>

  </div>
</div>
