<div class="flex flex-col justify-stretch p-10">
  <div class="p-10 bg-base-100 rounded-lg text-secondary">
    <h2 class="text-2xl text-text-color mb-8"><%= t('.title')%></h2>

    <%= form_with url: login_path do |f| %>
      <div class="mb-3">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :password, class: "form-label" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="my-8">
        <%= f.submit t('user_sessions.new.login'), class: "btn btn-primary " %>
      </div>
    <% end %>
  </div>
</div>
