<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZQ5E3CZ2ZF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZQ5E3CZ2ZF');
    </script>

    <title>距離感どのくらい?</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= display_meta_tags(default_meta_tags) %> <!--メタタグの設定（OGP）-->
    <%= include_gon %>
    <script src="https://kit.fontawesome.com/5399691582.js" crossorigin="anonymous"></script>
  </head>

  <body class="flex flex-col min-h-screen bg-primary text-text-color">
    <div class="flex-grow">
      <% if logged_in? %>
        <%= render 'shared/header' %>
      <% else %>
        <%= render 'shared/before_login_header' %>
      <% end %>
      <%= render 'shared/flash_message' %>
      <%= yield %>
    </div>
    <!-- quizzes コントローラーの new または show アクションでのみ Google Maps API を読み込む -->
    <% if controller_name == "quizzes" && (action_name == "new" || action_name == "show") %>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAPS_JAVASCRIPT_API'] %>&language=ja&callback=initMap" async defer></script>
      <%= javascript_include_tag 'map.js' %>
    <% end %>
  </body>

  <%= render 'shared/footer' %>

</html>